<div class="container-fluid under-header ">
    <div class="under-header-image"></div>
    <div class="container">
        <div class="slogan">
            <h1 class="">Take your business</h1>
            <h1 style="font-weight: 1000; text-transform: capitalize; white-space: 5px;">online today</h1>
            <p class="description">Businesses everywhere are moving more quickly than ever before. Our creative platform allows your brand
                to evolve fast and tap into new digital strategies.</p>
        </div>
        <app-under-menu-search-bar></app-under-menu-search-bar>
        <div class="all-category">
            <div class="all-category-icon"></div>
            <p>see all category</p>
        </div>
    </div>
</div>