<div class="container-fluid py-5" style="position: relative;">
    <div class="container py-5">
            <div class="btn-arrow arrow-left main-bg"></div>
            <div class="btn-arrow arrow-right main-bg"></div>
        <div class="row pt-5">
            <div class=" d-flex col-lg-6 justify-content-end">
                <img style="height: 400px;" src="../../../assets/img/landing/recommend/r-01.png" alt="">
            </div>
            <div class="col-lg-6">
                <div class="quotation"></div>
                <h1 class="px-5 main-color"><b>
                        We wanted something fun and eye-catching that didn’t look like every other coffee logo out
                        there…
                    </b></h1>
                <p class="px-5">There were so many designs to choose from and all of the designers were friendly and
                    willing to
                    change things up based on our preferences. In the end, we went with a design from Wintry grey that
                    we absolutely love. I would definitely recommend Zino Studio to anyone looking for logos and
                    branding."</p>
                    <div class="customer-recommend-profile">
                        <div class="customer-avatar"></div>
                        <div class="customer-info">
                            <p>
                                <b>Aexi Dorna</b>
                            </p>
                            <p>Founder of ABC</p>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>