

.video-player {
    width: 100%;
    background-color: #000000de;
    padding: 5rem;
    position: fixed;
    z-index: 99999;
    margin: auto;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    .video-box {
        width: 80%;
        margin: auto;
    }
    
}

.close-buuton {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 500ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 1;
    }
    
}
 
@media screen and (max-width:400px) {
    .video-player {
        width: 100%;
    }
    .video-player{
        padding: 1rem; 
    }
}