<div class="container-fluid" style="background-color: #f5f5f5; padding-bottom: 70px;">
    <div class="container pb-5">

        <div class="head-how-is-working">
            <h2>Two ways to get design</h2>
            <p>Our tried-and-true creative process makes design magic. With our global community that loves to
                collaborate, we’ll turn your great ideas into a custom design you can’t get anywhere else.</p>
        </div>

        <div class="row">
            <div class="col-lg-5 col-sm-12 d-flex justify-content-center">
                <div class="how-working-item">
                    <div class="how-working-item-image work-directly-img"></div>
                    <h3>Work directly</h3>
                    <p>We'll help you find a designer with just the right skill set, and you'll collaborate one-on-one
                        with them on your project.</p>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-center">
                <div class="horizontal-line"></div>
            </div>
            <div class="col-lg-5 col-sm-12 d-flex justify-content-center">
                <div class="how-working-item">
                    <div class="how-working-item-image work-contest-img"></div>
                    <h3>Start a contest</h3>
                    <p>Invite our entire creative community to participate in your project. Designers submit ideas and you pick your favorite.</p>
                </div>
            </div>
        </div>
    </div>
</div>