<div class="container-fluid main-bg">
    <div class="container">
        <div class="row d-flex  align-item-center align-items-center flex-row p-5">
            <div class="col">
                <h4><b>Hire for any scope
                    of work:</b></h4>
            </div>
            <div class="vertical-line"></div>
            <div class="col">
                <p><b>Short-term tasks</b></p>
                <p>Build a pool of diverse experts for one-off tasks</p>
            </div>
            <div class="vertical-line"></div>
            <div class="col ">
                <p><b>Recurring projects</b></p>
                <p>Have a go-to team with specialized skills</p>
            </div>
            <div class="vertical-line "></div>
            <div class="col">
                <p><b>Full-time contract work</b></p>
                <p>Expand your staff with a dedicated team</p>
            </div>
        </div>
    </div>
</div>