<div class="container-fluid m-0 pt-5" style="background-color: #fcfcfc; border-top:1px solid #ddddddb2">
    <div class="container pt-5">
        <div class="row">

            <div class="col-lg-3 col-sm-6 ">
                <p class="footer-title">Company</p>
                <ul class="footer-menu-items">
                    <li>About</li>
                    <li>Contact</li>
                    <li>Careers</li>
                    <li>Team</li>
                    <li>Press releases</li>
                    <li>In the media</li>
                    <li>Testimonials</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <p class="footer-title">Design services</p>
                <ul class="footer-menu-items">
                    <li>Design contests</li>
                    <li>1-to-1 Projects</li>
                    <li>Find a designer</li>
                    <li>Discover inspiration</li>
                    <li>Pricing</li>
                    <li>Agencies</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <p class="footer-title">Get a design</p>
                <ul class="footer-menu-items">
                    <li>Logo design</li>
                    <li>Business card</li>
                    <li>Web page design</li>
                    <li>Brand guide</li>
                    <li>Packaging design</li>
                    <li>T-shirt design</li>
                    <li>Book cover design</li>
                    <li>Browse all categories</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 ">
                <p class="footer-title">Resources</p>
                <ul class="footer-menu-items">
                    <li>Become a designer</li>
                    <li>Blog</li>
                    <li>Affiliates</li>
                    <li>Logo ideas</li>
                    <li>T-shirt ideas</li>
                    <li>Designer resources</li>
                    <li>Featured partners</li>
                    <li>Help</li>
                </ul>

            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="row footer-line">
                    <p>© Zino Studio</p>
                    <a href="">Terms</a>
                    <a href="">Privacy</a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="footer-social">
                    <div class="social-item fb"></div>
                    <div class="social-item tw"></div>
                    <div class="social-item ln"></div>
                    <div class="social-item pi"></div>
                    <div class="social-item in"></div>
                </div>
            </div>
        </div>
    </div>
</div>