<div class="container-fluid p-4" style="background-color: #fafafa;">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center ">
            <p class="p-0 m-0" style="color: #717171;"><b>Trusted by:</b></p>
            <div class="trusted-by-img a1"></div>
            <div class="trusted-by-img a2"></div>
            <div class="trusted-by-img a3"></div>
            <div class="trusted-by-img a4"></div>
            <div class="trusted-by-img a5"></div>
        </div>
    </div>
</div>