
.trusted-by-img {
    width: 130px;
    height: 60px; 
    margin: 0 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.a1 {
    background-image: url('../../../assets/img/landing/trusted-logo/01.png');
}
.a2 {
    background-image: url('../../../assets/img/landing/trusted-logo/02.png');
}
.a3 {
    background-image: url('../../../assets/img/landing/trusted-logo/03.png');
}
.a4 {
    background-image: url('../../../assets/img/landing/trusted-logo/04.png');
}
.a5 {
    background-image: url('../../../assets/img/landing/trusted-logo/05.png');
}