<div class="container py-5">
    <div class="title-bar">
        <h3>Trending Professional Services</h3>
        <p>What do you need designed?</p>
    </div>

    <div class="trending-category pb-5">
            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/01.webp" alt="category">
                <p>Logo & identity</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/02.webp" alt="category">
                <p>WordPress</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/03.webp" alt="category">
                <p>Video Over</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/04.jpeg" alt="category">
                <p>Video Explainer</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/05.webp" alt="category">
                <p>Social Media</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/06.webp" alt="category">
                <p>Illustration</p>
            </div>
            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/07.webp" alt="category">
                <p>Book Cover</p>
            </div>

    </div>
</div>