<div class="container">
    <div class="title-bar">
        <h3>Trending</h3>
        <p>What do you need designed?</p>
    </div>

    <div class="trending-category">
            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/01.png" alt="category">
                <p>Website builders</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/01.png" alt="category">
                <p>Cosmetics & beauty</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/01.png" alt="category">
                <p> Logo & identity</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/01.png" alt="category">
                <p>T-shirt</p>
            </div>

            <div class="trending-category-item">
                <img src="../../../assets/img/landing/category/01.png" alt="category">
                <p> Product label</p>
            </div>

    </div>
</div>