<div class="highest-rated-person">
    <div class="highest-rated-person-info">
        <div class="highest-rated-person-info-avatar" [ngStyle]="{'background-image': 'url(' + avatar + ')'}">
        </div>
        <div class="highest-rated-person-info-detail">
            <p class="name main-color">{{personName}}</p>
            <p class="position">{{position}}</p>
            <p><b>${{salary}} /hr</b></p>
        </div>
    </div>
    <div class="person-badge">
        <p>graphic</p>
        <p>software</p>
        <p>UI/UX</p>
    </div>
    <div class="btn-view-profile">
        <p>View Profile</p>
    </div>
</div>