<div class="container-fluid py-5" style="background-color: #F9F9F9;">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-6 col-sm-12 order-lg-1 order-sm-2">
                <h2 class="main-color"><b>Tell us what you need designed!</b></h2>
                <p class="pr-5">Start by creating a simple brief to help designers understand your design needs</p>
                <ul class="pb-5 pt-3">
                    <li>Only takes a few minutes</li>
                    <li>Captures your style and specs</li>
                    <li>From super simple to crazy complex projects</li>
                </ul>
                <div class="main-button main-bg">
                    <p>Get Start</p>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12 order-lg-2 order-sm-1">
                <div class="what-you-need-image"></div>
            </div>
        </div>
    </div>
</div>