<div class="container-fluid pb-5" style="background-color: whitesmoke;">
    <div class="container pb-5">
        <div class="highest-rated">
            <h2>Browse our highest-rated <br> designers & creatives</h2>
            <p>Find the talent needed to get your business growing.</p>
        </div>


        <div class="highest-rated-container pb-5">

            <app-highest-rated-person personName="Daniel" position="front end developer" salary="73"
                avatar=".././../../assets/img/landing/avatar/01.jpg">
            </app-highest-rated-person>
            <app-highest-rated-person personName="Jon" position="back end developer" salary="45"
                avatar=".././../../assets/img/landing/avatar/02.jpg">
            </app-highest-rated-person>
            <app-highest-rated-person personName="Sansa" position="UI/UX developer" salary="15"
                avatar=".././../../assets/img/landing/avatar/03.jpg">
            </app-highest-rated-person>
            <app-highest-rated-person personName="Viki" position="Graphic Designer" salary="90"
                avatar=".././../../assets/img/landing/avatar/04.jpg">
            </app-highest-rated-person>

        </div>

    </div>
</div>